body{
    margin:0;
    font-family:Arial;
    background:#0f1117;
    color:white;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:#111827;
    border-bottom:1px solid #222;
}

.logo{
    color:#ff8c1a;
    font-size:24px;
    font-weight:bold;
}

nav a{
    margin-left:20px;
    color:#aaa;
    text-decoration:none;
}

nav a:hover{
    color:#ff8c1a;
}

/* HERO */

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:50px;
}

.hero p{
    color:#bbb;
    max-width:600px;
    margin:auto;
}

.buttons{
    margin-top:30px;
}

.btn{
    padding:12px 25px;
    margin:10px;
    border-radius:8px;
    display:inline-block;
    text-decoration:none;
}

.primary{
    background:#ff8c1a;
    color:black;
}

.dark{
    background:#1f2937;
    color:white;
}

/* FEATURES */

.features{
    padding:80px 60px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.card{
    background:#161b22;
    padding:20px;
    border-radius:10px;
    border:1px solid #2a2f3a;
}

.card h3{
    color:#ff8c1a;
}

/* ENGINE */

.engine{
    padding:80px 60px;
}

.editor{
    display:flex;
    border:1px solid #333;
    border-radius:10px;
    overflow:hidden;
}

.topbar{
    position:absolute;
    background:#111;
    width:100%;
    padding:10px;
}

.workspace{
    flex:1;
    padding:30px;
    background:#0d1117;
}

.sidepanel{
    width:180px;
    background:#111827;
    padding:20px;
}

.block{
    padding:12px;
    margin-bottom:10px;
    border-radius:8px;
    font-weight:bold;
    width:250px;
}

.red{background:#ff4d4d;}
.orange{background:#ff8c1a;}
.purple{background:#9966ff;}
.yellow{background:#ffcc00; color:black;}

.warning{
    background:#ff3333;
    color:white;
}

/* WARNING */

.warning{
    text-align:center;
    padding:60px;
    background:#1a1a1a;
}

/* DOWNLOAD */

.download{
    text-align:center;
    padding:80px;
}

.download button{
    background:#ff8c1a;
    border:none;
    padding:15px 30px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}

/* FOOTER */

footer{
    text-align:center;
    padding:20px;
    border-top:1px solid #222;
}
